# some aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -lah'
alias sm='sudo mc'

# php composer
alias c='/usr/local/bin/composer'
alias s='php app/console'

# sublimes
alias e='subl'
alias se='sudo subl'

alias ubrc='source ~/dotfiles/.bashrc'
alias ea='e ~/dotfiles/.aliases'
alias eap='e ~/dotfiles/.aliases_private'
alias ef='e ~/dotfiles/.functions'
alias ec='e ~/.ssh/config'
alias eh='e /etc/hosts'
alias en='e /etc/nginx/conf.d/casino.conf'

# GIT
alias gc='git checkout'
# SHOW AVAILABLE GIT REPOS
alias gr='ssh $GIT_HOST -p $GIT_PORT 2>/dev/null | grep " R" --color=none'